<div class="container">
  <h1>QUOTE SITE</h1>
  <hr>

  <div class="row">
    <div class="col-md-6 quoteboundary">
      <app-goal-form (addGoal)="addNewGoal($event)"></app-goal-form>
      </div>
    <div class="col-md-6 quoteboundary">
      <div *ngFor='let goal of goals;let i = index'>
        <div> 
          <h6 id={{i}} >{{goal.myname}} </h6>
          <h6 id={{i}} appStrikethrough>{{goal.name}} </h6>
            <i><p class="display1">{{goal.completeDate|date|uppercase}}</p></i>
          <div class="votebutton"> 
            <button  class="btn btn-primary upvoteo">Upvote</button>
            <button class="btn btn-primary downvoteo">downvote</button>
          </div><br>
          <button (click)='toggleDetails(i)' class="moredetails">more Details</button>
        </div>

        <div *ngIf='goal.showDescription'>
          <app-goal-detail  [goal]='goal' (isComplete) = 'deleteGoal($event,i)'></app-goal-detail>
        </div>
      </div>
    </div>
   
  </div>
</div>