<p>{{goal.description}}</p>
 <div class="votebutton"> 

 
  <button  (click)="Upvote()" class="btn btn-primary upvoteo">Upvote</button>
   ({{qoutelikes}})

    <button (click)="Downvote()" class="btn btn-primary downvoteo">downvote</button>
   ({{qoutedisLikes}})

          
          </div><br>
<i><p class="display1">By {{goal.author}}  </p> </i>
<p> Posted on {{goal.completeDate|dateCount}} days since created </p>
<button (click)= 'goalDelete(true)' class="btn btn-outline-danger">Delete</button>